* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #F3F4F6;
    margin: 0;
    padding: 0;
}

/* -------- NAVIGATION BAR ------ */
.navbar {
    background-color: black;
    color: white;
    display: flex;
    border-radius: 40px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 5px;
    width: 98%;
    left: 1%;
    z-index: 1000;
}

.logo {
    margin-right: auto;
    padding: 7px 20px;
}

    .logo a {
        color: navajowhite;
        text-decoration: none;
        font-size: 1.2rem;
    }

.navlist {
    list-style-type: none;
    margin: auto;
    padding: 0;
    display: inline-flex;
    gap: 20px;
    background-color: #ae23d4;
    border-radius: 40px;
}

    .navlist li a {
        color: white;
        padding: 10px 15px;
        text-decoration: none;
        display: block;
    }

        .navlist li a:hover {
            background-color: azure;
            color: black;
            border-radius: 40px;
        }

#search {
    text-align: center;
    margin: auto 10px auto auto;
    padding: 7px 20px;
    border-radius: 40px;
    border: none;
}

#list {
    background-color: rgb(8, 8, 8);
    color: white;
    padding: 10px 17px;
    margin: auto 10px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}

    #list:hover {
        background-color: azure;
        color: rgb(8, 8, 8);
    }

/* ------- HOME PAGE-------- */
.homeBox {
    background-image: url("bg.jpg");
    background-size: cover;
    background-position: center;
    width: 90%;
    max-width: 1200px;
    margin: 100px auto 50px;
    min-height: 400px;
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 20px;
    color: white;
}

.textContent {
    flex: 1;
    text-align: center;
}

.homeBox img {
    max-width: 40%;
    border-radius: 10%;
}

.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
}

    .options div {
        background-color: rgb(154, 223, 233);
        border-radius: 20px;
        width: 160px;
        padding: 15px;
        text-align: center;
        transition: 0.3s; /**/
        cursor: pointer;/**/
    }

        .options div:hover {
            transform: scale(1.05);/**/
            background-color: azure;
        }

        .options div img {
            width: 100px;
            height: 100px;
            object-fit: contain;/**/
        }

.about {
    background-color: black;
    color: white;
    padding: 40px 20px;
    text-align: center;
}

/* -----LOGIN Page--------- */
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 60px;
}

.auth-box {
    background-color: rgba(250, 235, 215, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.5);
    padding: 40px;
    width: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.hidden {
    display: none !important;/**/
}

.input-field {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;/**/
    font-size: 14px;
    width: 100%;
}

.action-btn {
    background-color: #333;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

    .action-btn:hover {
        background-color: #555;
    }

.logout-btn {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 15px;
}

    .logout-btn:hover {
        background: #555;
    }

.switch-text {
    font-size: 14px;
    margin-top: 10px;
    color: #333;
}

    .switch-text span {
        color: rgb(214, 83, 144);
        font-weight: bold;
        cursor: pointer;
        text-decoration: underline;
    }

.profile-pic img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid white;
    margin-bottom: 10px;
}

.info-list {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 15px;
    border-radius: 10px;
    text-align: left;
}

/* ------ EVENT LIST STYLES ----- */
.event-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 100px 30px 30px;
    flex-wrap: wrap;
}

.event-card {
    background: rgb(154, 223, 233);
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

    .event-card img {
        width: 100%;
        height: 180px;
        object-fit: cover;
    }

    .event-card h2, .event-card p {
        padding: 0 15px;
    }

.btn {
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

    .btn:hover {
        background: #555;
    }

/* ----- ADD EVENT FORM --- */
.form-container {
    background-color: rgba(255, 255, 255, 0.9);
    max-width: 700px;
    margin: 120px auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
}

.form-group {
    margin-bottom: 15px;
}

    .form-group label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .form-group input, .form-group select, .form-group textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ddd;
        border-radius: 10px;
    }

.add-btn {
    width: 100%;
    padding: 12px;
    background: #333;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
}

/* --- CONTACT PAGE --- */
.contact-header {
    background: linear-gradient(to right, #d946ef, #a855f7);/**/
    color: white;
    padding: 35px 20px;
    text-align: center;
    margin: 100px auto 30px;
    width: 90%;
    border-radius: 5px;
}

.contact-container {
    max-width: 1100px;
    margin: 0 auto 50px;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    padding: 0 20px;
}

.contact-form-section, .contact-info-section {
    background: white;
    padding: 30px;
    border-radius: 5px;
    flex: 1;
    min-width: 300px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* ----- EVENT DETAILS PAGE --- */
.details-container {
    max-width: 800px;
    margin: 100px auto 50px;
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.details-img {
    width: 100%;
    max-height: 350px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}

.info-box {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    border-left: 5px solid #ae23d4;
    margin: 20px 0;
}

.book-btn {
    background-color: #333;
    color: white;
    padding: 15px 40px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

    .book-btn:hover {
        background-color: #ae23d4;
    }

/* ---------- SEAT RESERVATION PAGE ----- */
.seat-container-box {
    width: 90%;
    max-width: 900px;
    margin: 100px auto 40px;
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.screen {
    background: #444;
    color: white;
    padding: 12px;
    margin: 20px auto;
    width: 80%;
    border-radius: 5px;
}

.seats-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);/**/
    gap: 10px;
    justify-items: center;
    margin-bottom: 25px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.seat {
    width: 32px;
    height: 32px;
    background: #ccc;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    user-select: none;/**/
}

    .seat:hover {
        background: #bbb;
    }

    .seat.selected {
        background: #28a745;
        color: white;
    }

    .seat.booked {
        background: #d9534f;
        cursor: not-allowed;
    }

/* ------- PAYMENT PAGE --- */
.payment-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 60px;
}

.payment-card {
    background-color: white;
    width: 400px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
}

.ticket-summary {
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

    .ticket-summary p {
        margin: 5px 0;
    }

.pay-row {
    display: flex;
    gap: 10px;
}

.pay-button {
    width: 100%;
    padding: 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 16px;
}

    .pay-button:hover {
        background-color: #218838;
    }

#successMessage {
    display: none;
    text-align: center;
    color: green;
    margin-top: 20px;
}